.svgThemeModeIcon {
  transition: 0.3s;

  /* display: inline-block; */
  stroke-width: 2px;
  transform-origin: 0px 0px;
  transition: 0.3s;
}
.svgThemeModeIcon {
  path {
    transition: 0.3s;

    stroke-width: 2px;
    opacity: 0;
    fill: none;
    transform: translateY(20px);
  }
  g {
    transition: 0.3s;

    opacity: 1;
    fill: none;
  }
  line {
    transform-origin: center;
  }
  g :nth-child(2) {
    rotate: 0deg;
  }
  g :nth-child(3) {
    rotate: 45deg;
  }
  g :nth-child(4) {
    rotate: 90deg;
  }
  g :nth-child(5) {
    rotate: 135deg;
  }
  g :nth-child(6) {
    rotate: 180deg;
  }
  g :nth-child(7) {
    rotate: 225deg;
  }
  g :nth-child(8) {
    rotate: 275deg;
  }
  g :nth-child(9) {
    rotate: 315deg;
  }
}

.svgThemeModeIcon.active {
  transition: 0.3s;

  path {
    transition: 0.3s;

    opacity: 1;
    transform: translateY(0);
  }
  g {
    opacity: 0;
    transition: 0.3s;

    transform: translateY(-20px);
  }
}
// .svgThemeModeIcon:hover {
//   // circle {
//   //   stroke-width: 2px;
//   //   opacity: 1;
//   //   fill: none;
//   // }
//   // rect {
//   //   stroke-width: 2px;
//   //   opacity: 1;
//   //   fill: none;
//   // }
//   // .verticalRect {
//   //   transform: translateY(-12px);
//   //   height: 30px;
//   // }
//   // .horizontalRect {
//   //   transform: translateX(-12px);
//   //   width: 30px;
//   // }
//   // .midPoints {
//   //   opacity: 0;
//   // }
//   // .cornerPoints {
//   //   // transform: translateX(-10px);
//   //   // width: 30px;
//   // }
//   // :nth-child(3) {
//   //   transform: translate(15px, -30px);
//   // }
//   // :nth-child(5) {
//   //   transform: translate(30px, 15px);
//   // }
//   // :nth-child(7) {
//   //   transform: translate(-15px, 30px);
//   // }
//   // :nth-child(9) {
//   //   transform: translate(-30px, -15px);
//   // }
// }
// .svgThemeModeIcon.active {
//   rotate: 45deg;

//   transition: 0.3s;
//   circle {
//     stroke-width: 2px;
//     opacity: 0;
//     fill: none;
//   }
//   rect {
//     stroke-width: 2px;
//     opacity: 1;
//     fill: none;
//   }
//   .verticalRect {
//     transform-origin: center;
//     transform: translateY(-17px);
//     height: 40px;
//   }
//   .horizontalRect {
//     transform-origin: center;
//     transform: translateX(-17px);
//     width: 40px;
//   }

//   :nth-child(2) {
//     transform: translate(15px, -30px);
//   }
//   :nth-child(3) {
//     transform: translate(15px, -30px);
//   }
//   :nth-child(4) {
//     transform: translate(30px, 15px);
//   }
//   :nth-child(5) {
//     transform: translate(30px, 15px);
//   }
//   :nth-child(6) {
//     transform: translate(-15px, 30px);
//   }
//   :nth-child(7) {
//     transform: translate(-15px, 30px);
//   }
//   :nth-child(9) {
//     transform: translate(-30px, -15px);
//   }
//   :nth-child(8) {
//     transform: translate(-30px, -15px);
//   }
// }
